
body
{
background-position: center;
background-size: cover;
}

.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#status , #number_of_objects
{
font-size: 18px;
color: green;
}

canvas
{
box-shadow: 5px 5px 5px blue;
border-radius: 15px;
margin-top:90px;

}

#footer1{
    position:fixed;
    background-color: gainsboro;
    width:100%;
    bottom: 0;
    color: orange;
   line-height:30px;
}